<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}} <a class="{{#if isHome}} active{{/if}}" href="/nosotros">Link print x layout</a>
    <br><a href="/" style="font-size: 30px; text-decoration: none;">â†</a>
  </body>
</html>
